<h1 class="center">Book Details for "<%= @book.title %>"</h1>

<h4 class="center"> Book Description: <%= @book.desc %></h4>
<h4 class="center"> Book Amount: $<%= @book.amount %></h4>
<h4 class="center"> Quantity of this book: <%= @book.qty %></h4>

<div class="center">
  <a href="/dashboards/<%= session[:user_id]%>">Back to User Dashboard</a>
</div>
